.tools_box{
	width: 25%;
	min-width: 200px;
	align-self: flex-start;
}
.minimized .hide_minimized, .hide_maximized{
	display: none !important;
}
.form_page{
	min-height: 200px;
}
.form_page > .droppable{
	min-height: 100px;
	position: relative
}
.event_label{
	position: absolute;
	top: -10px;
}
.dropped.draggable{
	/* padding: 0.3em 0.2em; */
	position: relative;
	/* border: 2px dotted transparent !important; */
	border-radius: 0.25em;
	min-height: 30px;
	border-width: 2px;
}
.dropped.draggable:hover{
	/* border-style: dotted; */
	border-color: hsl(var(--hd), 0%) !important;
}
.dropped.draggable > .actions > *{
	user-select: none;
}
.dropped.draggable > .actions{
	/* display: none; */
	position: absolute;
	top: 0.5em;
	right: 0.5em;
}
.dropped.draggable.selected > .actions{
	display: block !important;
}
.dropped.draggable > .config{
	display: none;
}
.dropped.draggable.selected > .config{
	display: flex;
}
.dropped.draggable.selected{
	flex-basis: 100% !important;
	border: 2px dashed dodgerblue !important;
}
.dropped.draggable.area > .title{
	position: absolute;
	top: 5px;
	left: 1em;
}

.dropped.form_item.area{
	/* border-style: dashed !important; */
	border: 2px dashed hsl(var(--hd), 50%) !important;
	/* border-color: rgb(var(--color400)) !important; */
	padding-top: 25px;
	min-height: 80px;
}
.dropped.form_item.action{
	border: 1px solid hsl(var(--hd), 50%) !important;
	border-top: 3px solid hsl(var(--hd), 50%) !important;
	padding: 0.5em 0.5em !important;
	background-color: hsl(var(--hd), 90%);
}
.dropped.form_item > .droppable{
	min-height: 80px;
}
.dropped.form_item > .droppable[data-area]{
	min-height: 40px;
}
.dropped.form_item.area:hover{
	border-style: dotted !important;
}
.dropped.form_item.field, .draggable > .field{
	margin: 0.1em 0em !important;
}
/* .page_box:not(:first-child)::before{
	display: block;
	width: 3em;
	position: relative;
	left: 50%;
	transform: translate(-50%, 10%);
	content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>');
} */
.droppable[data-title]::before{
	content: attr(data-title);
	position: relative;
	top: 0;
	/* left: 50%; */
	/* transform: translate(-50%, -80%); */
	font-weight: 700;
	width: max-content;
	background-color: white;
	border-radius: 0.25em;
	padding: 0 0.4em;
	border: 2px dashed;
	z-index: 1;
	border-color: hsl(var(--hue),var(--lbo))!important;
	background-color: hsl(var(--hue),var(--lbg));
}
.droppable:empty::after{
	content: attr(data-hint);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 700;
	font-size: larger;
	width: max-content;
}